<html>

<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
</head>

<body>
  <style>
  main {
    background: #222;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    padding: 0.5em;
  }

  ul.matrix, ul.matrix-row {
    text-align: center;
    list-style: none;
    padding: 0px;
  }

  ul.actions {
    list-style: none;
    padding: 0px;
  }

 ul.actions button {
    color: #fff;
    background-color: #555;
    border-radius: 0.5rem;
    margin: 0.25rem;
}

  .led {
    border-radius: 2vw;
    padding: 0.5vw;
    display: inline-block;
    color: #ddd;
    width: 2vw;
    line-height: 2vw;
    font-size: 2vw;
  }

  ;
  </style>
  <main id="app">
    <section>
      <h1>LED Mask Controller</h1>
      <ul class="actions">
        <li v-for="action in actions" class="action">
          <button v-on:click="update(action)">
            {{action.label}}
          </button>
          <div v-for="rgb in action.data">
          </div>
        </li>
      </ul>
    </section>
    <section>
      <ul class="matrix">
        <li v-for="row in matrix">
          <ul class="matrix-row">
            <li class="led" v-for="led in row">
              <span class="led" v-bind:style="styleObject(led)">{{led}}</span>
            </li>
          </ul>
        </li>
      </ul>
    </section>
  </main>
  <script>
  /**
   * Send data to mask via express middleware
   */
  var sendToPhoton = function(data) {
    var url = '/mask-data';
    var body = {
      data: data
    };
    return axios
      .post(url, body, {
        headers: {
          'Content-Type': 'application/json'
        }
      })
      .then(function() {
        console.log('done');
      })
      .catch(function(err) {
        console.error(err);
      });
  };

  /**
   * 16 colour palette - just primary and secondary colours plus back and white
   * The Photon firmware will need to have these values hardcoded
   * we will send just the keys
   **/
  var colours = {
    r: '#ff0000',
    g: '#00ff00',
    b: '#0000ff',
    m: '#ff00ff',
    y: '#ffff00',
    c: '#00ffff',
    k: '#000000',
    w: '#ffffff',
  };

  /**
   * Predefined mask patterns for testing.
   * In future these may be expanded to include user-defined patterns.
   * They could also be moved to the backend
   */
  var actions = [
      {
      label: "Red and green",
      data: function() {
        return 'rgrgrgrgrgrgrgrgrgrgrgrgrg' +
          'rgrgrgrgrgrgrgrgrgrgrgrg' +
          'rgrgrgrgrgrgrgrgrgrgrg' +
          'rgrgrgrgrgrgrgrgrgrg' +
          'rgrgrgrgrgrgrgrgrg' +
          'rgrgrgrgrgrgrgrg' +
          'rgrgrgrgrgrgrg';
      }
    },
    {
      label: "Stripes",
      data: function() {
        return 'rrrrrrrrrrrrrrrrrrrrrrrrrr' +
          'gggggggggggggggggggggggg' +
          'bbbbbbbbbbbbbbbbbbbbbb' +
          'cccccccccccccccccccc' +
          'mmmmmmmmmmmmmmmmmm' +
          'yyyyyyyyyyyyyyyy' +
          'wwwwwwwwwwwwww';
      }
    },
    {
      label: 'All blue',
      data: function() {
        return 'bbbbbbbbbbbbbbbbbbbbbbbbbb' +
          'bbbbbbbbbbbbbbbbbbbbbbbb' +
          'bbbbbbbbbbbbbbbbbbbbbb' +
          'bbbbbbbbbbbbbbbbbbbb' +
          'bbbbbbbbbbbbbbbbbb' +
          'bbbbbbbbbbbbbbbb' +
          'bbbbbbbbbbbbbb';
      }
    },
    {
      label: 'Off',
      data: function() {
        return 'kkkkkkkkkkkkkkkkkkkkkkkkkk' +
          'kkkkkkkkkkkkkkkkkkkkkkkk' +
          'kkkkkkkkkkkkkkkkkkkkkk' +
          'kkkkkkkkkkkkkkkkkkkk' +
          'kkkkkkkkkkkkkkkkkk' +
          'kkkkkkkkkkkkkkkk' +
          'kkkkkkkkkkkkkk';
      }
    },
    {
      label: 'Random',
      data: function() {
        return Array.apply(0, Array(140)).map(function() {
          return Object.keys(colours)[Math.floor(Math.random() * 8)]
        }).join('')
      }
    }
  ];

  /**
   * Process mask data for rendering in the UI:
   * - mask is arranged in rows of 26, 24, 22, 20, 18, 16, 14
   * - the linear data array is processed into a 2d matrix matching the mask's shape.
   */
  var renderMask = function(data) {
    const matrix = [26, 24, 22, 20, 18, 16, 14]
      .map(length => Array(length))
      .map((array) => array.fill(0));
    let counter = 0;
    return matrix.map((row, index, array) => {
      return row.map((item) => {
        counter++;
        return data[counter - 1];
      });
    });
  };

  /**
   * Vue app component definition
   */
  var app = new Vue({
    el: "#app",
    data: {
      actions: actions,
      currentState: colours.k,
      matrix: [],
    },
    methods: {
      update: function(action) {
        sendToPhoton(action.data());
        this.currentState = action.data();
        this.matrix = renderMask(action.data());
      },
      styleObject: function(colour) {
        return {
          background: colours[colour]
        }
      },
      classObject: function() {
        return {
          active: !!this,
        };
      }
    }
  });
  </script>
</body>

</html>
